.homeContainer {
  background-color: #00968885;
  width: 100vw;
  height: 100vh;
}

.levelChessbroad img {
  width: 100%;
  /* height: 100%; */
}

.levelArrow {
  font-size: 3rem;
}

.homeWrapper {
  /* background-color: aquamarine; */
  flex-flow: column;
}

.levelButtons {
  /* background-color: blueviolet; */
  flex-flow: column;
}

.levelChessbroad {
  /* background-color: antiquewhite; */
}

@media screen and (min-width: 320px) {
  .homeWrapper {
    width: 100%;
  }
}
@media screen and (min-width: 550px) {
  .homeWrapper {
    width: 70%;
    flex-flow: row;
    align-items: center;
  }
}

@media screen and (min-width: 600px) and (min-height: 600px) {
  .homeWrapper {
    width: 50%;
    flex-flow: column;
  }
}
