.homeContainer {
  background-color: seagreen;
  width: 100vw;
  height: 100vh;
}

.levelChessbroad {
  width: fit-content;
}

.levelChessbroad img {
  width: 100%;
  height: 100%;
}

.levelArrow {
  font-size: 3rem;
}

.homeWrapper {
  background-color: aquamarine;
}

.levelChessbroad {
  background-color: antiquewhite;
}
