:root {
  --square-edge: 6rem;
}

.boardEdge {
  background-color: seagreen;
  border: 5px solid seagreen;
  display: flex;
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
}
table,
th,
td {
}
th,
td {
  border-radius: 3rem;
  text-align: center;
  padding: 0;
  width: var(--square-edge);
  height: var(--square-edge);
  background-color: var(--gray-III);
  color: var(--gray-I);
  font-weight: bold;
  font-size: calc(var(--square-edge) * 0.4);
}

.boardSquare--content {
  /* background-color: seagreen; */
}
